-# coding: UTF-8

.info
  = @posts.count

-@posts.each do |post|
  .post{:id => post.post_hash}
    %h3
      = post.title

    %b
      = post.author
    %i
      = post.post_hash
    %a{:href => "/post/#{post.post_id}/#{post.post_hash}/mail", :target => '_blank'} send

    %p
      = post.content

    %ul
      - post.pictures.each do |pic|
        %li
          %img{:src => "/newpic/#{pic.url.split('?', 2)[0].split('/')[-1]}"}
    %hr